body {
    background-color: #606060;
    font-family: Helvetica !important;
}
.content {
    background-color: #F1F2F2;
    height: 600px;
    text-align: center;
}

.progress {
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 0;
}

.progress-bar {
    background: limegreen;
    color: #58595B;
}

.dropzone:hover {
    background-color: #BCBEC0;
}

.uploaded-image {
    padding: 0px;
    border-bottom: 2px solid #D1D3D4;
    text-align: left;
    padding-bottom: 5px !important;
    margin-bottom: 10px;
    text-overflow: ellipsis;
}

.dz-remove {
    font-size: 10px;
    height: 10px;
}

span{
    display: inline-block;
    line-height: 1;
    padding: 0 !important;
    margin: 0 !important;
}

strong{
    display: inline-block;
    line-height: 1;
    padding: 0 !important;
    margin: 0 !important;
}

.dz-progress {
    display: block;
    height: 5px;
}

.dz-upload {
    display: block;
    height: 100%;
    background: #b7e2b7;
    width: 0;
}

.dz-error-message {
    color: red;
    font-size: 10px;
}

.dz-complete .dz-progress {
    /*display: none;*/
}

.droparea {
    height: 100%;
    width: 100%;
    border: solid #D1D3D4;
    /*border-radius: 15px;*/
}

.droparea:hover {
    background-color: #BCBEC0;
}

.col-md-4 {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}

.dataname {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.borderbox_s {
    height: 100%;
    width: 100%;
    border: solid #009444;
    /*border-radius: 15px;*/
    background-color: #AFDBBA;
}

.navi {
    width: 100%;
    background-image: linear-gradient(to top, #F1F2F2, #dedede);
    height: 105px;
    border-bottom: solid #14314C 7px;
}

.container {
    width: 100%;
}

.infobtn {
    background-image: url('../img/info_ico.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 30px;
    
}

.in {
    padding: 10px 25px;
}

.in2 {
    padding: 25px;
}

.logo {
    margin-top: 3px;
    height: 100%;
    background-image: url('../img/ccb_logo.png');
    background-position: left center;
    background-size: 220px;
    background-repeat: no-repeat;
}

.text {
    width: 100%;
    text-align: center;
    margin-top: 230px;
}

.prog {
    width: 100%;
    text-align: center;
    margin-top: 240px;
    margin-bottom: 20px;
}

.succ {
    width: 100%;
    text-align: center;
    margin-top: 170px;
    margin-bottom: 20px;
}

#progbarcontainer {
    margin-top: 10px;
    width: 100%;
    height: 20px;
    padding: 0px 200px;
    
}

#progbar {
    border: solid #58595B 2px;
    height: 100%;
    border-radius: 30px;
    background-color: #AADAC1;
}

#h1 {
    margin-top: 5px;
    color: #58595B;
    font-size: 12px;
}

#h2 {
    color: #6D6E71;
    font-size: 12px;
}



#h1_s {
    margin-top: 20px;
    color: #006838;
    font-size: 20px;
}

#h2_s {
    color: #006838;
    font-size: 15px;
}

.uploadbtn {
    width: 100%;
    height: 80px;
    background-image: url('../img/upload_ico.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

.tickbtn {
    width: 100%;
    height: 80px;
    background-image: url('../img/tick_ico.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

.loader {
    width: 100%;
    height: 80px;
    background-image: url('../img/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

#btnbtn {
    font-size: 10px;
    margin-top: 40px;
}

.row {
    height: 90%;
    margin: 0;
    padding: 0;
}

.infobtn {
    height: 100%; 
}

.col-md-8 {
    margin: 0;
    padding: 0;
    padding-right: 25px !important;
}

#processbtn {
    /*width: 100%;*/
    margin-top: 25px;
    /*height: 10%;*/
    /*border-radius: 15px;*/
    /*border: 2px solid #14314C;*/
    /*font-family: Helvetica;*/
}